PRX301_XML/employee.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="xs:unsignedShort" />
              <xs:element name="Fullname" type="xs:string" />
              <xs:element name="DOB" type="xs:date" />
              <xs:element name="Telephone" type="xs:unsignedLong" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="Gender" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>